@font-face {
    font-family: "Work Sans";
    src: url(/assets/fonts/WorkSans-VariableFont_wght.ttf);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}